{% extends "weather/base.html" %}

{% block title %}Weather App{% endblock %}

{% block content %}
    <h1>Weather App</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Get Weather</button>
    </form>

    <h2>Previous Searches</h2>
    <ul>
        {% for city in search_history %}
            <li><a href="{% url 'weather' city=city %}">{{ city }}</a></li>
        {% endfor %}
        {% endblock %}

    </ul>
{% block js %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
        $("#id_city").autocomplete({
            source: "{% url 'city_autocomplete' %}",
            minLength: 2,
            select: function(event, ui) {
                $('#id_city').val(ui.item.value);
            }
        });
    });
  </script>
{% endblock %}
